:root {
	--clr-bg-1: #0d1117;
	--clr-bg-2: #171b22;
	--clr-fg-1: #c9d1d9;
	--clr-fg-2: #58a6ff;
}

* {
	box-sizing: border-box;
}

body {
    margin: 0 auto;
	height: 100vh;
	width : 100%;

    font: 14px Segoe, sans-serif;
	
	background: var(--clr-bg-1);
	color: var(--clr-fg-1);
}

body > div {
	width: 100%;
	height: 100%;
}

a {
	color: var(--clr-fg-2);
}